
body {
  font-family: Georgia, Times, "Times New Roman", serif;
  background-image: url(..//images/crystal-back.jpg);
}


.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.headline {
  font-size: 50px;
  color: #fff;
  background-color: #ff6666;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;

}

.main-body {
  float: left;
  width: 100%;
}

h2 {
  font-size: 20px;
  padding-bottom: 10px;
}

.how-to {
  background-color: #33cccc;
  padding: 20px;
  margin-top: 20px;
  line-height: 15px;
}

.match-this {
  float: left;
  background-color: #33cccc;
  width: 290px;
  height: 405px;
  margin-top: 20px;
}

h3 {
  font-size: 80px;
  text-align: center;
  padding-top: 15px;
}

.score {
  font-size: 30px;
  padding-left: 25px;
  line-height: 50px;
  padding-top: 15px;
}

.total {
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
}


h4 {
  font-size: 80px;
  text-align: center;
}

.gemRed {
  margin-top: 20px;
  margin-left: -10px;
}

.gemGreen {
  margin-top: 20px;
  margin-left: 10px;
}

.gemBlue {
  margin-top: 20px;
  margin-left: 10px;
}

.gemYellow {
  margin-top: 20px;
  margin-left: 10px;
}

